.search-results__container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #484848;
  border-radius: 4px;
  padding: 15px 27px 50px 27px;

  button {
    bottom: 10px;
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 12px;
    align-self: center;
    cursor: pointer;
  }
}
