.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: background-reveal 1.5s linear 0s 1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 75px;

    cursor: default;

    animation: fade-in 3s ease-out 0s 1 normal;

    &__wrapper {
      position: relative;
      display: flex;
      justify-content: center;

      img {
        width: 80%;
      }
    }

    &__text {
      position: absolute;
      bottom: -20px;
      right: -35px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__bottom {
    width: 80%;
  }
  .search-container {
    &__input {
      animation: fade-in 3.5s ease-in-out 0s 1;
    }
  }

  .search__button {
    animation: fade-in 4s ease-in-out 0s 1;
  }

  .search-results__container {
    animation: fade-in 0.5 ease-out 0s 1;
  }
}

@keyframes background-reveal {
  0% {
    background: black;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 1280px) {
  .person__top {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .person {
    &__top {
      font-size: 12px;
      width: 100%;
    }

    &__name {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 860px) {
  .search-results-preview__container__wrapper__person-list {
    text-align: center;
    justify-content: space-between;
  }
  .person {
    &__container {
      padding: 0;
    }

    &__name {
      order: 1;
      font-size: 14px;
    }

    &__top {
      order: 2;
      flex-direction: column;
      font-size: 14px;
      overflow: hidden;

      &__origin {
        padding-bottom: 5px;
      }

      &__mail {
        padding-bottom: 10px;
      }
    }

    &__container {
      padding: 0;
      &__wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .search-results-preview__container {
    a {
      padding-top: 0;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 720px) {
  .person {
    &__top {
      font-size: 12px;
    }
  }

  .search-results-preview__container__wrapper {
    margin-right: 0;
    &__empty {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    &__top {
      &__text {
        width: 100%;
        right: 0;
        text-align: center;
      }
    }
  }
  .person {
    &__name {
      font-size: 12px;
    }
  }
}
