.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: background-reveal 1.5s linear 0s 1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 75px;

    cursor: default;

    animation: fade-in 3s ease-out 0s 1 normal;

    &__wrapper {
      position: relative;
    }

    &__text {
      position: absolute;
      bottom: -20px;
      right: -35px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__bottom {
    width: 80%;
  }
  .search-container {
    &__input {
      animation: fade-in 3.5s ease-in-out 0s 1;
    }
  }

  .search__button {
    animation: fade-in 4s ease-in-out 0s 1;
  }

  .search-results__container {
    animation: fade-in 0.5 ease-out 0s 1;
  }
}

@keyframes background-reveal {
  0% {
    background: black;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}
