.search-results__container {
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 80%;
    display: flex;
    padding: 15px;
    justify-content: center;

    &__left {
      img {
        width: 150px;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 15px;
      padding-left: 15px;
      width: 100%;

      &__search {
        width: 100%;
      }
    }
  }
}
.search-result__container__wrapper__right__person-list {
  position: relative;
  margin-top: 40px;
  width: 95%;

  .person__container {
    margin-bottom: 10px;
  }
}
