.search-results-preview__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #484848;
  border-radius: 4px;
  width: 79%;
  min-height: 250px;
  padding: 15px 17px 15px 17px;

  a {
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    align-self: center;
    cursor: pointer;
  }
}
