.search-results-preview__container {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1150px;
    min-height: 250px;
    padding-block: 15px;
    border: 1px solid #484848;
    border-radius: 4px;

    &__person-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 90%;
    }
  }

  a {
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    align-self: center;
    cursor: pointer;
  }
}
