.pagination-container {
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 500px;
  list-style: none;
  align-self: center;

  li {
    flex: 1;
  }

  &__button,
  &__button--selected,
  &__button__next-previous-button {
    background: none;
    border: 1px solid #484848;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    margin-inline: 5px;
    font-weight: bold;

    cursor: pointer;

    &:hover {
      background: #4f75c2;
      color: white;
    }

    &--selected {
      background: #204080;
      color: white;
    }
  }

  &__button__next-previous-button {
    width: 100px;
  }

  &__blob {
    width: 25;
    height: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: 4px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (max-width: 540px) {
  .pagination-container {
    width: 100%;
    justify-content: center;
    li {
      width: 50%;
      flex: 0;
    }
    &__button,
    &__button--selected {
      display: none;
    }
    &__button__next-previous-button {
      display: block;
      &:first-of-type {
        margin-right: 5px;
      }
    }

    &__blob {
      display: none;
    }
  }
}
